# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Sciencentists
* List open-source tools used by Data Scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Sckit-learn
2. Pandas
3. PyTorch

|Data Science Tools|
|------------------|
| Jupyter Notebook |
| R Studio         |
| Apache Hadoop    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
 #This a simple arithmetic expression to mutiply then add integers.
 (3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Wojciech Kie≈Çbowicz